<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>趣赚资讯</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width" name="viewport">
	<meta name="renderer" content="webkit">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telphone=no, email=no" />		
	<meta name="HandheldFriendly" content="true">
	<meta name="MobileOptimized" content="320">
	<meta name="browsermode" content="application">
	<meta name="x5-page-mode" content="app">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="format-detection" content="telephone=no">  
  


</head>
<body>

    <!---------------------------------------->
    
	<div class="contain">
        
        <div class="body hide" id="headerBody">
                <div class="left-nav"><span class="logo-icon"><b ></b></span><p>趣赚资讯</p></div>
                <ul class="money-content">
                    
                </ul>
                <div class="code-app">
                    <div id="code">  </div>
                    <img src="" alt="" id="code-push" class="code-push">
                    <span class="logo-icon"><b ></b></span>
                </div>
                <div class="code-app-describe">微信用户可长按二维码下载APP</div>
                <a href="http://a.app.qq.com/o/simple.jsp?pkgname=dxt.duke.union" class="download">或到各个手机应用市场，搜索“趣赚资讯”下载安装</a>
                <div class="download-describe">
                    如：APPstore，应用宝，小米应用市场，360应用市场等
                </div>
        </div>
    </div>

</body>
</html>


